@page
@model asp06nmui.Areas.Artists.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Artist[0].Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artist[0].Lastname)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Artist) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ArtistId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ArtistId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ArtistId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
